@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
@using OnlineArtGallery.Models
@{
    if (Context.Session.GetString("USER") != null)
    {
        ViewBag.USER = JsonConvert.DeserializeObject(Context.Session.GetString("USER"));
    }
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from pixner.net/sbidu/main/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 26 Jun 2021 00:46:34 GMT -->
@Html.Partial("~/Views/UserLayout/HeadPartial.cshtml")

<body>
    <!--============= ScrollToTop Section Starts Here =============-->
    <div class="overlayer" id="overlayer">
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
    </div>
    <a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    <div class="overlay"></div>
    <!--============= ScrollToTop Section Ends Here =============-->
    <!--============= Header Section Starts Here =============-->
    @Html.Partial("~/Views/UserLayout/HeaderTopPartial.cshtml")
    @Html.Partial("~/Views/UserLayout/CartPartial.cshtml")

<div>
    @RenderBody()
    <div class="modal" tabindex="-1" id="form-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>
    @Html.Partial("~/Views/UserLayout/FooterPartial.cshtml")
    <!--============= Footer Section Ends Here =============-->

    @Html.Partial("~/Views/UserLayout/ScriptPartial.cshtml")
</body>


<!-- Mirrored from pixner.net/sbidu/main/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 26 Jun 2021 00:49:01 GMT -->
</html>
@RenderSection("Scripts", false)
<script type="text/javascript">
    $(document).ready(function () {
        $("#noti_Container").ikrNotificationSetup();
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: "/Notification/GetNotifications",
            traditional: true,
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var notifications = data;
                $("#noti_Container").ikrNotificationCount({
                    NotificationList: notifications,
                    NotiFromPropName: "FromArtwork",
                    ListTitlePropName: "Header",
                    ListBodyPropName: "Body",
                    ControllerName: "Notification",
                    ActionName: "AllNotifications"
                })
            },
            error: function (xhr, status, error) {

            }
        })
    })
</script>