@model IEnumerable<OnlineArtGallery.Models.Customer>
@{
    ViewBag.ID = 0;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            @*<div class="card-header">
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>*@
            <!-- /.card-header -->
            <div class="card-body">
                <table id="customer" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                No.
                            </th>
                            <th>
                                Information
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Interest
                            </th>
                            <th>
                                Username
                            </th>
                            <th>
                                Password
                            </th>
                            <th>
                                Active
                            </th>
                            <th>
                                <a onclick="showInPopup('@Url.Action("AddOrEdit", "Customer", null, Context.Request.Scheme)', 'New Customer')" class="btn btn-success btn-block"><i class="fas fa-plus"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            ViewBag.ID++;
                            ViewData["Gender"] = item.Gender ? "Male" : "Female";
                            ViewData["Active"] = item.Active ? "True" : "False";
                            <tr>
                                <td class="text-center">@ViewBag.ID</td>
                                <td>
                                    Name:&emsp;@item.Name<br />
                                    Gender:&emsp;@ViewData["Gender"]<br />
                                    Birthday:&emsp;@item.Birthday<br />
                                    Phone:&emsp;@item.Phone<br />
                                    Email:&emsp;@item.Email<br />
                                    Address:&emsp;@item.Address<br />
                                </td>
                                <td>
                                    @item.Image
                                </td>
                                <td>
                                    @item.Interest
                                </td>
                                <td>
                                    @Tools.GetUser(item.UserId).Username
                                </td>
                                <td>
                                    @Tools.GetUser(item.UserId).Password
                                </td>
                                <td class="text-center">@ViewData["Active"]</td>
                                <td>
                                    <a onclick="showInPopup('@Url.Action("AddOrEdit", "Customer", new { item.Id }, Context.Request.Scheme)', 'Update Customer')" class="btn btn-info">@*<i class="fas fa-pencil-alt"></i>*@ Edit</a>
                                    <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>