@model OnlineArtGallery.Models.Auction

@{
    Layout = null;
    var now = DateTime.Now;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-controller="Auction" method="post" enctype="multipart/form-data" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this)" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="BeginDay" class="control-label"></label>
                @if (Model.Id == 0)
                {
                    <input asp-for="BeginDay" type="date" class="form-control" placeholder="dd/MM/yyyy" value="@now.ToString("yyyy-MM-dd")" />
                }
                else
                {
                    <input asp-for="BeginDay" type="date" class="form-control" placeholder="dd/MM/yyyy" value="@Model.BeginDay.ToString("yyyy-MM-dd")"/>
                }
                <span asp-validation-for="BeginDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDay" class="control-label"></label>
                @if (Model.Id == 0)
                {
                    <input asp-for="EndDay" type="date" class="form-control" placeholder="dd/MM/yyyy" value="@now.ToString("yyyy-MM-dd")" />
                }
                else
                {
                    <input asp-for="EndDay" type="date" class="form-control" placeholder="dd/MM/yyyy" value="@Model.EndDay.ToString("yyyy-MM-dd")"/>
                }
                <span asp-validation-for="EndDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservePrice" class="control-label"></label>
                <input asp-for="ReservePrice" class="form-control" />
                <span asp-validation-for="ReservePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StepPrice" class="control-label"></label>
                <input asp-for="StepPrice" class="form-control" />
                <span asp-validation-for="StepPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ArtworkId" value="@Model.ArtworkId" />
            <input type="hidden" asp-for="ArtistId" value="@Model.ArtistId" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /><label asp-for="Active" class="control-label"></label>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}