<!DOCTYPE html>
<html lang="en">
@Html.Partial("~/Views/AdminLayout/HeadPartial.cshtml")
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        @Html.Partial("~/Views/AdminLayout/NavBarPartial.cshtml")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @Html.Partial("~/Views/AdminLayout/MainSideBarPartial.cshtml")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @Html.Partial("~/Views/AdminLayout/ContentHeaderPartial.cshtml")

            <!-- Main content -->
            <section class="content">
                @RenderBody()
                <div class="modal" tabindex="-1" id="form-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        @Html.Partial("~/Views/AdminLayout/MainFooterPartial.cshtml")

    </div>
    @Html.Partial("~/Views/AdminLayout/ScriptPartial.cshtml")   
</body>
</html>
