@{
    Layout = "~/Views/UserLayout/MainLayout.cshtml";

    List<Artwork> ListArtwork = null;
    if (ViewBag.ListArtwork != null)
    {
        ListArtwork = ViewBag.ListArtwork;
    }

    List<ArtCategory> ListArtCategory = null;
    if (ViewBag.ListArtCategory != null)
    {
        ListArtCategory = ViewBag.ListArtCategory;
    }

}
<section class="banner-section bg_img" data-background='@Url.Content("~/assets/img/bannerx.jpg")'>
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-xl-6">
                <div class="banner-content cl-white">
                    <h1 class="title"><span class="d-xl-block">Wellcome to </span> Our Gallery!</h1>
                    <p>
                        Online Auction is where everyone goes to shop, sell,and give, while discovering variety and affordability.
                    </p>
                    <a href="#0" class="custom-button yellow btn-large">Get Started</a>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-6">
                <div class="banner-thumb-2">

                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape d-none d-lg-block">
        <img src="~/assetsIndex/css/img/banner-shape.png" alt="css">
    </div>
</section>
<div id="myBtnContainer">
    <button class="btn active" data-id="50">Show All</button>
    @foreach (var item in ListArtCategory)
    {
        <button class="btn" data-id="@item.Id">@item.Name</button>
    }

</div>
<div id="MyGallery">
    <div id="ourgallery">
        @foreach (var item in ListArtwork)
        {
            <div class="columnArt">
                <div class="content">
                    <a data-lightbox="mygallery" href="~/assets/img/artwork/@item.Image"><img src="~/assets/img/artwork/@item.Image" alt=""></a>
                    <h4>@item.Name</h4>
                    <b>@item.Artist.Name</b>
                    <h5>$@item.DefautPrice</h5>
                    <p>@item.Description</p>
                    <a href='/Index/artworkdetail?id=@item.Id'>Readmore</a>
                </div>
            </div>
        }

    </div>
</div>
<ul class="pagination" id="pagegallery">
</ul>
