@{Layout = "~/Views/UserLayout/MainLayout.cshtml";
    List<Artwork> listArtwork = null;
    if (ViewBag.listArtwork != null)
    {
        listArtwork = ViewBag.listArtwork;
    }

    List<Auction> auction = null;
    if (ViewBag.auction != null)
    {
        auction = ViewBag.auction;
    }

}
<!--============= Hero Section Starts Here =============-->
<div class="hero-section style-2">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#0">My Account</a>
            </li>
            <li>
                <span>My Favorites</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="@Url.Content("~/assetsIndex/images/banner/hero-bg.png")"></div>
</div>
<!--============= Hero Section Ends Here =============-->
<!--============= Dashboard Section Starts Here =============-->
<section class="dashboard-section padding-bottom mt--240 mt-lg--440 pos-rel">
    <div class="container">
        <div class="row justify-content-center">
            @Html.Partial("~/Views/UserLayout/MenuUserPartial.cshtml")
            <div class="col-lg-8" id="ourgallery">
                <div class="dash-bid-item dashboard-widget mb-40-60">
                    <div class="header">
                        <h4 class="title" id="titlex">My Favorites</h4>
                    </div>
                    <div class="button-area justify-content-between">
                        <form class="product-search">
                            <input type="text" placeholder="Item Name">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                        <div class="sort-winning-bid">
                            <div class="item">Sort By : </div>
                            <select name="sort-by" class="select-bar">
                                <option value="all">All</option>
                                <option value="name">Name</option>
                                <option value="date">Date</option>
                                <option value="type">Type</option>
                                <option value="car">Car</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-30-none justify-content-center">
                    @foreach (var item in listArtwork)
                    {
                        Auction auc = auction.Where(x => x.ArtworkId == item.Id).SingleOrDefault();

                        <div class="columnArt">
                            <div class="content">
                                <a href="~/assets/img/artwork/@item.Image" data-lightbox="mygallery">
                                    <img src="~/assets/img/artwork/@item.Image" alt="">
                                </a>
                                <h4>@item.Name</h4>
                                <h5>@item.Artist.Name</h5>
                                @*<p>@item.Description</p>*@

                                @if (auc != null)
                                {
                                    <a href='/Index/auctiondetail?auctionId=@auc.Id'>Readmore</a>
                                }
                                else
                                {
                                    <a href='/Index/artworkdetail?id=@item.Id'>Readmore</a>
                                }

                            </div>
                        </div>
                    }
                </div>
                <div class="row mb-30-none justify-content-center">
                    <ul class="pagination" id="pagegallery">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= Dashboard Section Ends Here =============-->