@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;

@{
    if (Context.Session.GetString("USER") != null)
    {
        ViewBag.USER = JsonConvert.DeserializeObject(Context.Session.GetString("USER"));
    }
}

@{Layout = "~/Views/UserLayout/MainLayout.cshtml";}
<!--============= Hero Section Starts Here =============-->
<div class="hero-section style-2">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#0">My Account</a>
            </li>
            <li>
                <span>Personal profile</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background='@Url.Content("~/assetsIndex/images/banner/hero-bg.png")'></div>
</div>
<!--============= Hero Section Ends Here =============-->
<!--============= Dashboard Section Starts Here =============-->
<section class="dashboard-section padding-bottom mt--240 mt-lg--440 pos-rel">
    <div class="container">
        <div class="row justify-content-center">
            @Html.Partial("~/Views/UserLayout/MenuUserPartial.cshtml")
            <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="dash-pro-item mb-30 dashboard-widget">
                                <div class="header">
                                    <h4 class="title">Personal Details</h4>
                                    <a onclick="showInPopup('@Url.Action("AddOrEdit", "Index", new { ViewBag.USER.Id }, Context.Request.Scheme)', 'Update Profile')"><span class="edit"><i class="flaticon-edit"></i> Edit</span></a>
                                </div>
                                <ul class="dash-pro-body">
                                    <li>
                                        <div class="info-name">Name</div>
                                        <div class="info-value">@ViewBag.USER.Name</div>
                                    </li>
                                    <li>
                                        <div class="info-name">Gender</div>
                                        <div class="info-value">
                                            @if (ViewBag.USER.Gender == true)
                                                {
                                                    ViewBag.Gender = "Male";
                                                }
                                                else
                                                {
                                                    ViewBag.Gender = "Female";
                                                }
                                            @ViewBag.Gender
                                        </div>
                                    </li>
                                    <li>
                                        <div class="info-name">Date of Birth</div>
                                        <div class="info-value">@ViewBag.USER.Birthday.ToString("dd-MM-yyyy")</div>
                                    </li>
                                    <li>
                                        <div class="info-name">Address</div>
                                        <div class="info-value">@ViewBag.USER.Address</div>
                                    </li>
                                    <li>
                                        <div class="info-name">Email</div>
                                        <div class="info-value">@ViewBag.USER.Email</div>
                                    </li>
                                    <li>
                                        <div class="info-name">Mobile</div>
                                        <div class="info-value">@ViewBag.USER.Phone</div>
                                    </li>
                                    <li>
                                        <div class="info-name">Password</div>
                                        <div class="info-value">xxxxxxxxxxxxxxxx</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<!--============= Dashboard Section Ends Here =============-->